html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.app-container {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: auto;

    display: flex;

    overflow: hidden;
     
}

.warning_message {
    color: rgb(221, 57, 28);
}