.main_body{
    width: 90%;
    background: rgb(138, 138, 138);
    
    display: flex;
   
    border-radius: 8px;
} 

aside {      
    margin-top: 1%; 
    margin-left: 1%;
    border-bottom: 1px solid black;
}
img {
    width: 120px;
    height: 120px;  
    border-radius: 8px;  
}

.infos_produto{
    
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: left;
    justify-self: left;
    text-align: left;

    padding: 5px 0;

    border-bottom: 1px solid black;
    margin-right: 1%;
    

}

.infos_produtop1{
    width: 50%;
    margin-left: 1%;
}

.infos_produtop2{
    width: 50%;
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.part_value{
    margin-top: 3%;
    margin-right: 5%;
    font-size: 25px;
}

.remove_btn{
    height: 50px;
    width: 50px;
    margin-top: 5%;
    margin-right: 5%;

}

.header_produto{
    display: flex;
    width: 90%;
    height: 7%;
}

.form_value{
    width: 33%;
    text-align: unset;
    
}
.titlle_value{
    margin-top: 11%;
}

.form_btn{
    color: red;
    width: 33%;
    display: flex;
    
}
.nome_botao{
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 1%;
}
.btn_limparCarrinho{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 72, 0);
    margin-top: 5%;
    
}
 
.form_titlle{
    width: 33%;
}
.titlle_cart{
    margin-top: 1%;
}

.icon_btn{
    size: 60px;
}



.btn_limparCarrinho:active{
    transform: translateY(4px);
}