.div_sidebar {
    justify-content: left;
}

.div_card{

    margin-top: 20px;
    margin-bottom: 20px;

    justify-content: center;
    justify-self: left;
    height: 100%;
    width: 100%;
    
    position: relative;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;

    .sub_div {
        border: 2px solid #555;
        
        border-radius: 5px;

        width: 80%;
        
        min-height: 1080px;
        max-height: auto;

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;

    }
}