.datatable-templating-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.datatable-templating-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}

.coluna {
    border-bottom: 0.5px solid rgb(110, 102, 102);
    
    align-items: center;
    text-align: center;
}

.card{
    width: 100%;
    justify-content: center;
}

.p-datatable-wrapper{
    width: 100% !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    
}

table{
    width: 80% !important;
    align-self: center;
    border-top: 0.5px solid rgb(110, 102, 102);

}

.btn_comprar{
    background: rgb(0, 173, 253);
    border-radius: 6px;
    height: 40px;
    border: none;
    cursor: pointer;
}
 .btn_comprar:active{
    transform: translateY(4px);

 }