.Modal_Form {
    position: 'absolute';
    width: 250px;
    height: 250px;
    background: #a462da;
    border: 2px solid #000;

    text-align: center;

    button {
        margin-top: 90px;
    }

}   
  