.app-footer {
    background: rgb(104, 5, 233);
    padding: .5rem 2rem;
    text-align: left;
    position: relative;
    
    bottom: 0;
    height: auto;
    align-items: center;

    width: 1920px;
}

#criadores{
    margin-left: 10%;
}

#redes{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;

}

footer li{
    float: left;
    width: 200px;
    height: 40px;
    text-align: center;
}

footer a, ul {
     
    list-style:none;
    display: inline-block;
    font-size: 1.0rem;
    display: inline-block;

    color: rgb(255, 254, 254);
    text-decoration: none;
    
}

footer li :hover {
    color: #54c454;
}