.app-footer {
    background: rgb(104, 5, 233);
    padding: .5rem 2rem;
    text-align: left;
    position: relative;
    max-width: 1920px;
    bottom: 0;
    height: auto;
}

#criadores{
    margin-left: 10%;
}

footer a, ul {
     
    list-style:none;
    display: inline-block;
    font-size: 1.0rem;

    color: #333;
    text-decoration: none;
    
}

footer li :hover {
    color: #6D6D6D;
}